integrations:
- name: nri-consul
  env:
    # The agent node Hostname or IP address to connect to
    HOSTNAME: localhost

    # Port to connect to agent node
    PORT: 8500

    # If true will use SSL encryption, false will not use encryption
    # ENABLE_SSL: false
    # ACL Token if token authentication is enabled
    # TOKEN:
    # If true server certificate is not verified for SSL. If false certificate will be verified against supplied certificate
    # TRUST_SERVER_CERTIFICATE: false
    # Alternative Certificate Authority bundle directory, required if enable_ssl is true and trust_server_certificate is false
    # CA_BUNDLE_DIR:
    # Alternative Certificate Authority bundle file, required if enable_ssl is true and trust_server_certificate is false
    # CA_BUNDLE_FILE:

    # If true will attempt to gather metrics from all other nodes in consul cluster
    FAN_OUT: true
    # Check leadership on consul server. This should be disabled on consul in client mode
    CHECK_LEADERSHIP: true

  interval: 15s
  labels:
    env: production
    role: consul
  inventory_source: config/consul
