integrations:
- name: nri-consul
  env:
    hostname: <The agent node Hostname or IP address to connect to (default "localhost")>
    port: <(Optional) Port to connect to agent node (default "8500")>

    token: <(Optional) ACL Token if token authentication is enabled>

    enable_ssl: <(Optional) If true will use SSL encryption, false will not use encryption (default "false")>
    trust_server_certificate: <(Optional) If true server certificate is not verified for SSL. If false certificate will be verified against supplied certificate (default "false")>
    ca_bundle_dir: <Alternative Certificate Authority bundle directory, required if enable_ssl is true and trust_server_certificate is false>
    ca_bundle_file: <Alternative Certificate Authority bundle file, required if enable_ssl is true and trust_server_certificate is false>

    fan_out: <(Optional) If true will attempt to gather metrics from all other nodes in consul cluster (default "true")>

  interval: 15s
  labels:
    env: production
    role: consul
  inventory_source: config/consul
