nav {
    margin-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 100%;
}

#entityList, #entityDetails {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
}

.entity-type {
    font-size: 18pt;
}

.entity-count {
    font-style: italic;
    float: right;
}

.entity {
    padding-left: 20px;
}

.card {
    margin-top: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
}